<div class="jumbotron text-center mb-0">
  <h1><%= I18n.t('home_page.header') %></h1>
  <p><%= I18n.t('home_page.body') %></p>
</div>

<div class="container mt-5 mb-5">
  <%= form_for :user_request, :url => { :action => "create" } do |f| %>
    <div class="form-group row">
      <label for="source-coordinate" class="col-sm-2 col-form-label">Source Coordinates</label>
      <div class="col-sm-5">
        <label for="source-coordinate-latitude">Latitude</label>
        <%= f.number_field :source_latitude, :class => 'form-control', :required => true, :placeholder => '12.927880', step: :any %>
      </div>
      <div class="col-sm-5">
        <label for="source-coordinate-longitude">Longitude</label>
        <%= f.number_field :source_longitude, :class => 'form-control', :required => true, :placeholder => '77.627600', step: :any %>
      </div>
    </div>
    <div class="form-group row">
      <label for="destination-coordinate" class="col-sm-2 col-form-label">Destination Coordinates</label>
      <div class="col-sm-5">
        <label for="destination-coordinate-latitude">Latitude</label>
        <%= f.number_field :destination_latitude, :class => 'form-control', :required => true, :placeholder => '13.035542', step: :any %>
      </div>
      <div class="col-sm-5">
        <label for="destination-coordinate-longitude">Longitude</label>
        <%= f.number_field :destination_longitude, :class => 'form-control', :required => true, :placeholder => '77.597100', step: :any %>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-time-input" class="col-sm-2 col-form-label">Time</label>
      <div class="col-sm-10">
        <%= f.time_field :reach_time, :class => 'form-control', :required => true, :value => Time.zone.now.strftime("%H:%M") %>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <%= f.email_field :email, :class => 'form-control', :required => true, :placeholder => 'john@doe.com', :type => 'email' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12 text-center mt-4">
        <%= f.submit "REMIND ME", :class => "btn btn-primary"%>
      </div>
    </div>
  <% end %>
</div>

<div>
  <div class="jumbotron text-center mb-0">
    <ul class="list-group">
      <% ApiRequest.includes(:user_request).all.order('id DESC').limit(10).each do |p| %>
        <li class="list-group-item">Requested <%= p.provider %> API for <%= p.user_request.email.gsub(/.{0,3}@/, '###@') %></li>
      <% end %>
    </ul>
  </div>
</div>