<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @salutation %></p>
    <p>
      <%= @body %>
    </p>
    <footer>
      <p><%= @footer %></p>
    </footer>
  </body>
</html>