<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('site_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- bootstrap styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show mb-0">
          <h4 class="alert-heading">
            <%= I18n.t("user_request_success_submit.header") %>
          </h4>
          <p><%= flash[:notice] %></p>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show mb-0">
          <h4 class="alert-heading">
            <%= I18n.t("user_request_failure_submit.header") %>
          </h4>
          <p><%= flash[:alert] %></p>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <footer class="py-4 bg-light text-black">
    <div class="container text-center">
      <strong><%= I18n.t('home_page.footer') %></strong>
    </div>
  </footer>
  <!-- bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
